<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Contato - DevBurger</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>Entre em Contato</h1>
    <form action="/contato" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" required />

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />

      <label for="assunto">Assunto:</label>
      <input type="text" name="assunto" id="assunto" required />

      <label for="mensagem">Mensagem:</label>
      <textarea name="mensagem" id="mensagem" required></textarea>

      <button type="submit">Enviar</button>
    </form>
    <a href="/">Voltar</a>
  </body>
</html>
